.two-dimensional-image{
 	background-image:url(https://is1-3.housingcdn.com/91aba65c/ca8a287f765b0da12a81cc1403e24ae6/v2/fs.jpg);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:400px;
    height:400px;
}
